exclude .env
exclude .travis.yml
exclude esmigrate.db
exclude config.json
recursive-exclude tox_logs *
include *.py
include .coveragerc
include tox.ini
include LICENSE
include requirements.txt
include *.md
include *.toml
recursive-include esmigrate *
recursive-include tests *
recursive-include docs *
recursive-include scripts *
