exclude .travis.yml
exclude .pyup.yml
exclude .pre-commit-config.yaml
exclude .gitignore
include requirements.txt
include README.md
include .coveragerc
include tox.ini
recursive-include scripts *.sh
recursive-include tests *.py
