appdirs==1.4.4
attrs==21.4.0
certifi==2021.10.8
cfgv==3.3.1
chardet==4.0.0
click==8.1.2
click-log==0.4.0
codecov==2.1.12
coverage==6.3.2
distlib==0.3.4
filelock==3.6.0
flake8==4.0.1
identify==2.4.12
idna==2.05 # pyup: ignore
importlib-metadata==2.1.1;python_version<'3.8' # pyup: ignore
iniconfig==1.1.1
jsonschema==4.4.0
mccabe==0.7.0
more-itertools==8.12.0
nodeenv==1.6.0
packaging==21.3
pluggy==1.0.0
pre-commit==2.18.1
py==1.11.0
pycodestyle==2.8.0
pyfakefs==4.5.6
pyflakes==2.4.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.1.1
pytest-cov==3.0.0
pytest-mock==3.7.0
PyYAML==6.0
requests==2.27.1
requests-mock==1.9.3
setuptools-scm==6.4.2
six==1.16.0
SQLAlchemy==1.4.34
toml==0.10.2
tox==3.24.5
urllib3==1.26.9
validator-collection==1.5.0
virtualenv==20.14.0
wcwidth==0.2.5
zipp==3.8.0
