appdirs==1.4.4
attrs==23.2.0
certifi==2024.6.2
cfgv==3.4.0
chardet==5.2.0
click==8.1.7
click-log==0.4.0
codecov==2.1.12
coverage==6.0.1
distlib==0.3.3
filelock==3.3.0
flake8==4.0.1
identify==2.3.0
idna==2.05 # pyup: ignore
importlib-metadata==2.1.1;python_version<'3.8' # pyup: ignore
iniconfig==1.1.1
jsonschema==4.1.0
mccabe==0.6.1
more-itertools==8.10.0
nodeenv==1.6.0
packaging==21.0
pluggy==1.0.0
pre-commit==2.15.0
py==1.10.0
pycodestyle==2.8.0
pyfakefs==4.5.1
pyflakes==2.4.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
PyYAML==5.4.1
requests==2.26.0
requests-mock==1.9.3
setuptools-scm==6.3.2
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
tox==3.24.4
urllib3==1.26.7
validator-collection==1.5.0
virtualenv==20.8.1
wcwidth==0.2.5
zipp==3.6.0
