appdirs==1.4.4
astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
black==19.10b0
certifi==2020.6.20
cfgv==3.1.0
chardet==3.0.4
check-manifest==0.42
click==7.1.2
click-log==0.3.2
codecov==2.1.7
colorama==0.4.3
coverage==5.1
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
identify==1.4.21
idna==2.10
isort==4.3.21
jsonschema==3.2.0
lazy-object-proxy==1.5.0
mccabe==0.6.1
more-itertools==8.4.0
nodeenv==1.4.0
packaging==20.4
pathspec==0.8.0
pep517==0.8.2
pluggy==0.13.1
pre-commit==2.5.1
py==1.9.0
pyfakefs==4.0.2
pylint==2.5.3
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.3
pytest-cov==2.10.0
PyYAML==5.3.1
regex==2020.6.8
requests==2.24.0
requests-mock==1.8.0
setuptools-scm==4.1.2
six==1.15.0
SQLAlchemy==1.3.18
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
validator-collection==1.4.2
virtualenv==20.0.25
wcwidth==0.2.5
wrapt==1.12.1
